# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
.env/

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
*.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# mypy
.mypy_cache/

# pyre type checker
.pyre/

# VS Code settings
.vscode/

# IntelliJ IDEA / PyCharm
.idea/

# macOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db

# Jupyter Notebook
.ipynb_checkpoints

# Playwright
playwright/

